* {
    font-family: Helvetica, Arial, sans-serif;
}

h1{
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("images/pattern.webp");
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.price{
    font-weight: bold;
    color: blue;
}

#brushes{
    background-color: mediumspringgreen;
}

#frames{
    background-color: lightcoral;
}

#paint{
    background-color: skyblue;
}